<a href="{{ url_for('users.user_page', user=message.from_user, username=message.from_user.username) }}">{{ message.from_user.first_name ~ " " ~ message.from_user.last_name }}</a>
<p>{{ message.content|urlize }}</p>