#root {
    height: 100% !important;
    background-color: rgb(252, 240, 228);
}

.row:not(.send-message-form) {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui.dimmer {
    z-index: 1030 !important;
}

.ui.blue {
    background-image: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(128,102,255,1) 0%, rgba(83,112,243,1) 100.2% ) !important;
}

.ui.pink {
    background-image: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(246, 215, 191, 1) 0%, rgba(245, 188, 208) 100.2% ) !important;
}

.ui.orangeReg {
    background-image: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(250, 184, 190, 1) 0%, rgba(246, 215, 191) 100.2% ) !important;
}

.ui.border.blue {
    background-color: white !important;
    border: 1.3px solid rgba(83,112,243,1) !important;
    background-image: none !important;
    color: rgba(83,112,243,1)
}

.ui.border.blue:hover {
    color: rgba(83,112,243,1)
}

.ui.button:hover:not(.navbar-link-button) {
    filter: brightness(115%) !important;
}

.ui.red {
    background-image: linear-gradient( 111.4deg,  rgba(246,4,26,1) 0.4%, rgba(251,139,34,1) 100.2% )!important;
}

.ui.orange {
    background-image: linear-gradient( 103.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% ) !important;
}

.background {
    background-color: rgb(252, 240, 228) !important;
}

.ui.button:not(.post-like-button) {
    padding: .78em 1em;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.post-like-button {
    border-radius: 0 !important;
    background-color: transparent !important;
}

/* Header */

.main-menu.navbar {
    background-color: rgb(246, 215, 191) !important;
    box-shadow: 0px 3px 3px rgba(246, 215, 191, 0.6);
}

.main-menu.navbar .navbar-toggler {
    border: none !important;
    padding: 0 !important;
}

.main-menu.navbar .navbar-toggler:focus {
    border: none !important;
}

.main-menu.navbar .navbar-toggler .icon {
    font-size: 1.8em !important;
    color: white !important;
}

.main-menu .ui.button {
    background: rgb(117, 136, 223) !important;
    color: white;
}

.main-menu .ui.button .icon:hover {
    transform: scale(1.3)
}

.main-menu .nav-link {
    color: white;
}

.main-menu .bell.icon {
    margin: 0 !important;
}

.main-menu .link-icon {
    font-size: 1.8em !important;
}

.main-menu .badge {
    /* line-height: 1.5 !important; */
    vertical-align: text-top;
}

.primary-color {
    background-color: rgba(246, 215, 191, 0.5) !important;
    border: none !important;
    color: gray
}

.active.primary-color {
    background-color: rgba(246, 215, 191, 1) !important;
}

.navbar-avatar {
    width: 2.8em !important;
    height: 2.8em !important;
    border-radius: 50%;
    margin: 0 1em;
}

.navbar-user-menu {
    width: 12em !important;
}

.navbar-user-menu .item {
    padding: 0.5em 10px !important;
    font-size: 1.1em;
    z-index: 100;
}

.navbar-user-menu .item:hover {
    background-color: rgb(242, 248, 248) !important;
}

.navbar-user-menu-placeholder {
    font-weight: 600 !important;
    min-height: 30px;
}

.popup {
    max-width: 500px !important;
}

.notification-list {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.notification-list .item {
    padding: 0.5em 10px !important;
    border-bottom: 1px solid #ccc;
}

.notification-list .list-item:hover {
    background-color: rgb(242, 248, 248);
}

.notification-placeholder {
    height: 30px;
    text-align: center;
}

.ui.search>.results {
    width: 20em !important;
}

.ui.search>.results .result .image {
    float: left !important;
}
.ui.search>.results .result .image+.content {
    margin: 0 !important;
}
.results .title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}


/* Login */

.login-screen, .register-screen {
    width: 100%;
    height: 100%;
    background: url('../src/Assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.login-wrapper, .register-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: rgb(155, 105, 74) !important;
}

textarea {
    resize: none !important;
}

.login-card {
    width: 26rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgb(252, 240, 228) !important;
}

.login-card .ui.button {
    padding: .9em !important;
    border-radius: 0 !important;
}

.login-form-header {
    background-color: white; 
    padding: 0.6em 1em;
    text-align: center !important;
    background-color: rgb(252, 240, 228);
}

.login-form-logo {
    width: 15em !important
}

.input-wrapper {
    border: 1px solid #ccc;
}

.input-icon {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: .67857143em 1em;
    background-color: #f0eded;
}

.login-form-buttons {
    width: 100%; 
    font-weight: normal;
    margin-top: 0 !important;
}

.field label {
    color: black !important;
}

/* */

/* Home */
.ui.vertical.menu {
    width: 100%;
}

.add-hashtag-form .add-hashtag-button {
    background-color: white !important;
    font-size: 1.5em !important;
    padding: 0.42857143em 0 !important;
}
.add-hashtag-form .add-hashtag-button .icon {
    margin: 0 !important;
}


.post-item {
    background: rgb(246, 215, 191) !important;
    position: relative;
    padding: 10px !important;
    padding-top: 0 !important;
    margin: 1em 0 !important;
    width: 100% !important;
    border: none !important;
    border-radius: .28571429rem !important;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
    transition: box-shadow .1s ease,transform .1s ease !important;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
}

.dropdown-item {
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: inherit !important;
    }
}

.post-item::after {
    box-sizing: inherit !important;
}

.post-item .column {
    padding: 0.5em !important;
}


.post-item .post-option {
    position: absolute;
    top: .2em;
    right: 0;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 100 !important;

}
.post-item .post-option-icon {
    position: absolute;
    right: 0;
}

.post-item .dropdown-options {
    position: absolute;
    top: 1em;
    right: 1em;
    min-width: 250px !important;
    background-color: white;
    border: 1px solid #ccc !important;
    padding: 0;
    border-radius: .28571429rem !important;
}

.post-item .dropdown-options .item {
    padding: .5em !important;
}

.post-item .dropdown-options .item:hover {
    background-color: rgb(242, 248, 248);
}

.ui.small.modal {
    width: 40%;
    /* border-radius: 1.5em !important; */
}

.ui.modal .ui.button:not(.primary) {
    color: white;
    background-image: radial-gradient( circle 928px at 17.9% -6.7%,  rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100.2% ) !important;
}

.ui.modal .ui.button.primary {
    color: white;
    background-image: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(128,102,255,1) 0%, rgba(83,112,243,1) 100.2% ) !important;
}

.ui.small.modal .content {
    border-top-left-radius: 1.5em !important;
    border-top-right-radius: 1.5em !important;
}

.ui.small.modal .actions {
    border-bottom-left-radius: 1.5em !important;
    border-bottom-left-radius: 1.5em !important;
}

.post-item .post-content .post-hashtags {
    font-size: .9em;
    color: rgba(87, 87, 87, 0.7);
}

.post-item .label:not(.ui.left.pointing.basic.label) {
    border-radius: 1.3em !important
}

.feed-container, .chat-container {
    margin: 0 !important;
    padding: 2em 2.5% !important;
}

.post-header {
    margin: 0 0 0.5em 0 !important;
}

.post-header .post-user-name {
    font-weight: 600 !important;
    font-size: 1.2em;
    color: rgba(0,0,0,.85);
}

.post-header .post-time {
    margin: .5em 0 .5em;
    font-size: 0.9em;
    line-height: 1em;
    color: rgba(0,0,0,.7) !important;
}

.post-header .avatar {
    width: 4em !important;
    height: 4em !important;
}

.post-header .post-user-name-column, .post-header .post-avatar-column {
    padding: 1em 0 .5em !important;
}

.post-header .col-sm-2 {
    width: 20% !important;
}

.post-header .col-sm-10 {
    width: 80% !important;
}

@media only screen and (min-width: 992px)  {
    .post-header .col-lg-1 {
        flex: 0 0 11%;
        max-width: 11% !important;
    }
}



.post-content {
    white-space: pre-line;
    margin: 0.5em 0.25em;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

/* Profile */

.profile-container {
    padding: 2em 2.5% !important;
}

#nav-following, #nav-followers {
    padding: 0 !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}

.profile-container #profile-tab .nav-link {
    font-size: 1.1em !important;
    font-weight: 600;
}


.tab-content .list {
    padding: 0 !important;
    border-bottom: none !important;
}

.profile-list-follow-button {
    float: right !important;
}

.tab-content .list .item {
    border-bottom: 1px solid #ccc;
    padding: 1em !important;
    cursor: pointer;
    background-color: white;
}

.tab-content.list .item:hover {
    background-color: rgb(242, 248, 248);
}

.profile-container #nav-feed {
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

.profile-container #nav-feed .ui.menu {
    border-top: none !important;
}

.items {
    margin: 0 !important;
    padding: 0 15px !important;
}

.post-input-section {
    width: 100%;
    margin: 0 0 !important;
    padding-bottom: 10px;
}

.ui.reply.form {
    margin-top: 10px;
}

.carousel img {
    pointer-events: auto !important;
    cursor: pointer !important;
}

.dimmer .carousel .slider-wrapper {
    max-width: 80% !important;
}

.dimmer img {
    max-width: 60% !important;
}

.dimmer-close-button {
    font-size: 1.8em !important;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}


.trending-hashtags-container .card-header, .sidebar-following .card-header {
    font-size: 1.1em !important;
    font-weight: 600 !important;
    margin: 0 !important;
    color: white;
    background: rgb(117, 136, 223) !important;
}


.web-info {
    /* font-weight: 600; */
    color: #545972;
    font-size: .9em !important;
    padding: .5em .92857143em;
    padding-right: 0 !important;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    display: flex;
    flex-wrap: wrap;
}

/* Sidebar */
#sidebar, #trending-hashtags {
    width: calc(25% - 40px);
}

#trending-hashtags {
    padding: .1em .5em !important;
    overflow-y: scroll !important;
    max-height: 85% !important; 
}

#sidebar {
    padding: .1em 2em !important;
}

#trending-hashtags::-webkit-scrollbar {
    display: none;
}

#trending-hashtags .notification-avatar {
    width: 3em !important;
}


.custom-sidebar {
    background-color: inherit;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
}


.custom-sidebar.ui.secondary.menu .item.link-item {
    font-size: 1.2em !important;
    font-weight: 600 !important;
    margin: 0 0  !important;
    padding: .8em !important;
    border-radius: 0 !important;
    background: rgb(246, 215, 191) !important;
    color: black !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}


.custom-sidebar.ui.secondary.menu .item.link-item.active {
    color: black !important;
    border-radius: 0 !important;
    margin-left: -1em !important;
    margin-right: -1em !important;
    background: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(246,215,191,1) 0%, rgba(252,240,228,1) 100.2% ) !important;
}

.custom-sidebar.ui.secondary.menu .item.link-item:hover:not(.active) {
    background: rgba(206, 192, 180,1) !important;
    color: black !important;
}


.custom-sidebar .item .icon, .sidebar-following .icon {
    margin-right: 1em !important;
    margin-left: 0 !important;
}


/* */

/* Profile */

.profile-avatar {
    width: 200px !important;
    height: 200px !important; 
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.profile-container .header {
    font-family: Tahoma !important;
}

.profile-container .card {
    width: 100%;
}

.profile-container .card .extra {
    text-align: center;
}

.profile-container .card .extra button {
    display: inherit !important;
    margin-top: .4em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.fileContainer{
    border: none !important;
    box-shadow: none !important
}

.avatar-uploader {
    text-align: center;
    background: white;
    padding-bottom: 1em;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: .28571429rem;
}

/* Chat */

.chat-message-right {
    text-align: right;
}

.chat-message-right .content {
    display: inline-block !important;
}


.chat-message-left .description, .chat-message-right .description {
    padding: .8em !important;
    border-radius: .4em;
    background :#d8dfe4;
}

.chat-message-left .avatar, .chat-message-right .avatar {
    cursor: pointer;
}

.chat-message-right .description {
    background :radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(128,102,255,1) 0%, rgba(83,112,243,1) 100.2% );
    color: white !important;
}


.chat-wrapper {
    height: 100% !important;
    margin: 0 !important;
    background-color: rgb(252, 240, 228);
}


.chat-container {
    height: 90% !important;
    background-color: rgb(252, 240, 228) !important;
}

.chat-column-2 {
    background-color: rgb(246, 215, 191) !important;
    height: 100% !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.chat-column-2 .avatar {
    width: 3em !important;
    height: 3em !important;
    margin: 0 .5em !important;
}

.chat-column-2-header {
    margin-left:-1rem;
    margin-right: -1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-column-2-header h3 {
    padding: .3em 1em;
}

.chat-message-section {
    max-height: 75%;
    overflow: auto;
}

.send-message-form {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

.send-message-form .column {
    text-align: right;
}

.ui.form .fourteen.wide.field {
    width: 90% !important;
}

.ui.form .two.wide.field {
    width: 10% !important;
}

.send-message-form .button {
    background: radial-gradient( circle farthest-corner at 20% 25.1%,  rgba(128,102,255,1) 0%, rgba(83,112,243,1) 100.2% ) !important;
    color: white !important;
}

.chat-column-1 {
    height: 100% !important;
    background-color: rgb(246, 215, 191) !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.chat-room-list {
    padding: 0 !important;
    margin: 0 -1em !important;
}

.chat-room-list-header {
    margin-left: -1rem;
    margin-right: -1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-container h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.chat-room-list-item {
    padding: 1em !important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
    margin: 0 !important;
}

.chat-room-list-item .header {
    font-size: 1.1em !important;
}

.chat-room-list-item .description {
    text-overflow: ellipsis;
    overflow: hidden; 
}


.chat-room-list-item:hover {
    background-color: rgb(242, 248, 248) !important;
    cursor: pointer;
}

/*  */
.create-post-form .create-post-user-avatar {
    width: 5em !important;
    height: 5em !important;
}

.create-post-form textarea{
    border: none !important;
}

.create-post-form input[type=submit] {
    font-size: 1.1em !important;
}

.create-post-form .add-hashtags-button, .create-post-form .add-image-button {
    background-color: inherit;
    border-radius: 50% !important;
    padding: 0.5em !important;
    color: white;
}

.create-post-form .add-image-button img, .add-hashtags-button img {
    margin: 0 !important;
    width: 2em !important;
}

.create-post-form .add-image-button:hover, .add-image-button:focus {
    background-color: #dddddd !important;
}

.post-item .post-hashtag, .post-hashtag {
    background-color: #E1ECF4 !important;
    border-radius: 3px !important;
}

.add-hashtag-input {
    border-radius: 0 !important;
}

.ui.grid:not(.send-message-form) {
    margin: 0 !important;
}

/* Bootstrap Component */

.navbar .notification-avatar {
    width: 2em;
}

.navbar.main-menu .button {
    text-align: left !important;
}

.main-menu .dropdown-menu {
    top: 95% !important;
}

.main-menu .dropdown-menu:after {
	bottom: 100%;
	right: 2em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
}

.main-menu .dropdown-header {
    font-size: 1.15em;
}

.trending-hashtags-container .list-group-item, .sidebar-following .list-group-item {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.list-group-item.media {
    display: flex !important;
    text-decoration: none !important;
    color: inherit;
    background-color: inherit;
}
.sidebar-following .list-group-item.media:hover, .trending-hashtags-container .list-group-item.media:hover {
    background-color: rgb(226, 225, 225);
    cursor: pointer;
}
.list-group {
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}
.sidebar-following, .trending-hashtags-container {
    /* border-radius: 1em !important; */
    background-color: rgb(242, 248, 248);
    border: none !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    
}

.chooseFileButton, .auth-second-button {
    color: white !important;
    background-image: linear-gradient( 103.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% ) !important;
}

.chooseFileButton:hover {
    filter: brightness(120%)
}

/* Notification */

.notification-column {
    box-shadow: 0 1px 2px 1px rgba(34,36,38,.15);
}

.notification-column .notification-avatar {
    width: 5em !important;
}

.notification-column .notification-item {
    background-color: white;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #ccc;
}

.notification-column .notification-item:hover:not(.notification-header) {
    background-color: rgb(242, 248, 248) !important;
}

.notification-column .notification-item.notification-header, .bookmark-column .bookmark-header {
    background: rgb(246, 215, 191) !important;
}

.notification-column .notification-item.notification-header h4, .bookmark-column .bookmark-header h4 {
    text-align: center !important;
    color: black;
    width: 100% !important;
    cursor: pointer;
}

.notification-column .notification-item.notification-header .icon {
    cursor: pointer;
    color: white !important;
}

/* Bookmark */

.bookmark-column .post-item {
    margin-top: 0 !important;
    margin-bottom: 2em !important;
    border-radius: 0 !important;
}

@media only screen and (max-width: 750px)  {

    .post-item {
        border-radius: 0 !important;
    }
}


/* Network Visualization */
.tab-pane.nv-tabs {
    text-align: center;
}