{% extends 'base.html' %}
{% block header %}
{% block title %} Edit Post {% endblock %}
{% endblock %}
{% block content %}
    <a href="{{ url_for('users.user_page', user=post.user, username=post.user.username) }}">{{ post.user.first_name ~ " " ~ post.user.last_name }}</a>
    <form action="{{ url_for('posts.edit_post', post_id = post.id) }}" method="post">
        {{ form.content(size=20) }}
        <input type="submit" value="edit"/>
    </form>
{% endblock %}