<!doctype html>
<title>{% block title %}{% endblock %} - Kitter</title>
<nav>
  <a href="{{ url_for('main.index') }}">Kitter</a>
  <ul>
    {% if session['logged_in'] %}
        <li><a href="{{ url_for('users.user_page', username=session['username']) }}">{{ session['username'] }}</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.signup') }}">Register</a>
      <li><a href="{{ url_for('auth.signin') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>