{% extends 'base.html' %}
{% block header %}
{% block title %} Chat {% endblock %}
{% endblock %}
{% block content %}
        {% for message in messages %}
            <li>{% include 'includes/message.html' %}</li>
        {% endfor %}
    <form action="{{ url_for('messages.send_message_to', username=to_user.username) }}" method="post">
        {{ form.content(size=20) }}
        <input type="submit" value="send">
    </form>
{% endblock %}