{% extends 'base.html' %}
{% block header %}
    {% block title %} login {% endblock %}
{% endblock %}
{% block content %}
    <form action="{{ url_for('auth.signin') }}" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}  {{ form.username(size=20) }}
        {{ form.password.label }}  {{ form.password(size=20) }}
        <input type="submit" value="Sign in">
    </form>
    <a href="{{ url_for('auth.signup') }}">Sign up</a>
{% endblock %}