{% extends 'base.html' %}
{% block header %}
    {% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% endblock %}
{% block content %}
    <a href="{{ url_for('users.followers', username=user.username, page_type='followers', user_list=user.get_followers())}}">followers</a>
    <a href="{{ url_for('users.following', username=user.username, page_type='following', user_list=user.get_following()) }}">following</a>
    {% if user == current_user %}
    <div>
        <form action="{{ url_for('users.user_page', username=user.username) }}" method="post">
            {{ form.content.label }}    {{ form.content(size=20) }}
            <input value="Post" type="submit">
        </form>
    </div>
    {% else %}
        {% if current_user|is_following(user) %}
            <form action="{{ url_for('users.unfollow', username=user.username) }}" method="post">
                <input type="submit" value="unfollow">
            </form>
        {% else %}
            <form action="{{ url_for('users.follow', username=user.username) }}" method="post">
                <input type="submit" value="follow">
            </form>
        {% endif %}
        <a href="{{ url_for('messages.message_to', username=user.username, messages=current_user.get_messages_with_user(user))  }}">Message this User</a>
    {% endif %}

    {% for post in user.get_posts() %}
        <div>
            {% include 'includes/post.html' %}
        </div>
    {% endfor %}
{% endblock %}